$colorfull1:#00a584;
$colorfull2: #ebbc00;
$colorfull3: #e93666;

.colorfull1 {
        color: $colorfull1;
}

.colorfull2 {
        color: $colorfull2;
}

.colorfull3 {
        color: $colorfull3;
}

.background-colorfull1>.badge {
        color: $colorfull1;
}

.background-colorfull2>.badge {
        color: $colorfull2;
}

.background-colorfull3>.badge {
        color: $colorfull3;
}

.background-colorfull1 {
        background-color: $colorfull1;
}

.background-colorfull2 {
        background-color: $colorfull2;
}

.background-colorfull3 {
        background-color: $colorfull3;
}



.portfolio-icon a i {
        color: #fafafa !important;
}

.contact .contact-info img {
        width: 50px;
}

.rtl .timeline-items .timeline-border {
        border-left: none !important;
        border-right: 2px solid;
}

.rtl .timeline-items .timeline-icon {
        left: inherit !important;
        right: -9px !important;
}