/*-------------------------
         DUTIES
-------------------------*/
.duties {
  .image-border {
    height: 90%;
  }

  .duties-item {
    height: 100%;
  }
}

.duties .title {
  margin-bottom: 0.5rem;
}

.duties-item img {
  width: 40px;
  height: 40px;
}

.duties .duties-item.data-background {
  margin-top: 0;
}

.duties .image-border {
  margin-top: 30px;
}

.duties .image-border {
  transition: 0.5s all ease;
}

.duties .image-border:hover {
  transform: translateY(-10px);
}

.duties-item h5 {
  margin-top: 8px;
}
