/*-------------------------
         RESUME
-------------------------*/
@mixin center_block_in_block {
  display: table;
  margin: 0 auto;
}

.resume {
  .timeline-content .button-border {
    @include center_block_in_block();

    .button {
      padding: 8px 15px;
      min-width: 150px;
      text-align: center;
    }
  }
}

.badge-pill {
  font-size: 1.15rem;
}

.badge-pill i {
  font-size: 1.15rem;
}

.timeline-items.box-border {
  padding: 30px 30px 15px 30px;
  margin-top: 30px;
}

.timeline-title {
  font-family: "Agency FB Bold";
  font-size: 1.5rem;
  font-weight: 600;
}

.timeline-item {
  position: relative;
  /* margin-bottom: 30px; */
}

.timeline-item:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
  border-radius: 1rem;
  display: block;
}

.timeline-contents {
  padding-left: 30px;
  text-align: justify;
}

.timeline-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -7px;
  z-index: 10;
}

.timeline-items .timeline-icon {
  border: none;
  left: -9px !important;
}

.timeline-items .timeline-border {
  border-left: 2px solid;
}

.rtl .timeline-items .timeline-border {
  border-left: none !important;
  border-right: 2px solid;
}

.rtl .timeline-items .timeline-icon {
  left: inherit !important;
  right: -9px !important;
}

.timeline-item::before {
  display: none;
}

.timeline-place {
  margin-bottom: 0.5rem;
}

.timeline-year {
  font-size: "Agency FB";
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
}

.resume h3 i {
  padding-right: 0.75rem;
}
