@import "../../../DynamicTheme/scss/base/variables";

/*-------------------------
         RESUME
-------------------------*/
.badge-pill {
        font-size: 1.15rem *$fontScale !important;
}

.badge-pill i {
        font-size: 1.15rem *$badgeIconScale !important;
}

.timeline-items.box-border {
        padding: 30px 30px 15px 30px;
        margin-top: 30px;
}

.timeline-title {
        font-family: $fontBold;
        font-size: 1.5rem * $fontScale;
        font-weight: 600;
}

.timeline-item {
        position: relative;
        /* margin-bottom: 30px; */
}

.timeline-item:before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
        border-radius: 1rem;
        display: block;
}

.timeline-contents {
        padding-left: 30px;
        text-align: justify;
}

.timeline-content .button-border {
        // center div in div
        display: table;
        margin: 0 auto;
}

.timeline-content .button-border .button {
        padding: 8px 15px;
        min-width: 150px;
        text-align: center;
        // width: 100px;
        // height: 50px;
}

.timeline-icon {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: -7px;
        z-index: 10;
}

.timeline-items .timeline-icon {
        border: none;
        left: -9px !important;
}

.timeline-items .timeline-border {
        border-left: 2px solid;
}

.rtl .timeline-items .timeline-border {
        border-left: none !important;
        border-right: 2px solid;
}

.rtl .timeline-items .timeline-icon {
        left: inherit !important;
        right: -9px !important;
}

.timeline-item::before {
        display: none;
}

.timeline-year {
        font-size: $fontRegular;
        font-size: 20px *$fontScale;
        font-weight: 500;
}

.resume h3 i {
        padding-right: 0.75rem;
}