/* #1ab394 */
/* #fbdd62 */
/* #ff4274 */

.badge.badge-pill {
  /* vertical center */
  display: inline-block;
  vertical-align: middle;
  line-height: normal;

  font-weight: 300 !important;
  color: white;
  margin: 0 3 15 3;
  border-radius: 0.5rem !important;
}

.badge > .badge {
  font-size: 75% !important;
  padding: 0.15rem 0.3rem !important;
  margin: 0 !important;
  position: relative;
  bottom: 0.09rem;
}

.colorfull1 > .badge {
  color: #01bb8c !important;
}
.colorfull2 > .badge {
  color: #eebe00 !important;
}
.colorfull3 > .badge {
  color: #e73263 !important;
}

.colorfull1 {
  background-color: #01bb8c !important;
}

.colorfull2 {
  background-color: #eebe00 !important;
}

.colorfull3 {
  background-color: #e73263 !important;
}

.timeline-items .timeline-icon {
  border: none;
  left: -9px !important;
}

.timeline-items .timeline-border {
  border-left: 2px solid;
}

.timeline-item::before {
  display: none;
}

.duties-item img {
  width: 40px;
}

.duties .duties-item .text-dark {
  color: #3c3c3c !important;
}

.duties .duties-item .text-muted {
  color: #5f5f5f !important;
}

.duties-item {
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}

.portfolio .portfolio-item-content::before,
.portfolio-item-content::before {
  /* background-color: rgba(255, 66, 116, 0.8); */
  background-color: rgba(0, 0, 0, 0.479);
}

.portfolio-icon a i {
  color: #fafafa !important;
}

.contact .contact-info img {
  width: 50px;
}

.rtl .timeline-items .timeline-border {
  border-left: none !important;
  border-right: 2px solid;
}

.rtl .timeline-items .timeline-icon {
  left: inherit !important;
  right: -9px !important;
}

.flat-demo .portfolio-item-content {
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1);
}

.flat-demo .section {
  background-color: #f8f8f8 !important;
}

.flat-demo .box-border {
  background-color: #fefefe !important;
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}

.flat-demo.dark-scheme .section {
  background-color: #2c2d30 !important;
}

.flat-demo.dark-scheme .box-border {
  background-color: rgba(52, 53, 57, 0.9) !important;
  box-shadow: 0px 0px 2px rgba(79, 79, 79, 0.2) !important;
}

@media (prefers-color-scheme: dark) {
  .flat-demo .section {
    background-color: #2c2d30 !important;
  }

  .flat-demo .box-border {
    background-color: rgba(52, 53, 57, 0.9) !important;
    box-shadow: 0px 0px 2px rgba(79, 79, 79, 0.2) !important;
  }
}
