/*
Init values for dynamic properties to reduce  page load time 
*/
$schemeColor:#D4D4D4;
$highlightColor:#004b97;
$baseColor:black;
$mutedBaseColor:#414141; //lightMuted: #b2b2b2

$colorfull1: #01724b;
$colorfull2: #bc5b00;
$colorfull3: #c40639;
$contrastColorfull1: white;
$contrastColorfull2: white;
$contrastColorfull3: white;

$borderRadius: 9px;