/*
Init values for dynamic properties to reduce  page load time 
*/
$schemeColor:#D4D4D4;
$highlightColor:#004b97;
$baseColor:#212529; //light: #EBEBEB
$mutedBaseColor:#4D4D4D; //lightMuted: #b2b2b2

$colorfull1: #01724b;
$colorfull2: #b44700;
$colorfull3: #c40639;
$contrastColorfull1: #EBEBEB;
$contrastColorfull2: #EBEBEB;
$contrastColorfull3: #EBEBEB;

$borderRadius: 9px;