/*
Init values for dynamic properties to reduce  page load time 
*/
$schemeColor:#D4D4D4;
$highlightColor:#055CB3;
$baseColor:#212529; //light: #EBEBEB
$mutedBaseColor:#4D4D4D; //lightMuted: #b2b2b2

$colorfull1: #00a584;
$colorfull2: #ebbc00;
$colorfull3: #e93666;

$borderRadius: 15px;