.section {
  background-color: transparent !important;
  overflow-x: hidden !important;
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}

.section#hero {
  opacity: 1;
}

/*-------------------------
          PP Nav
-------------------------*/
#pp-nav {
  -webkit-animation: backInRight;
          animation: backInRight;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* don't forget to set a duration! */
}

#pp-nav li {
  margin: 10px 8px;
  width: 28px;
}

#pp-nav li span {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  border: none;
  top: 5px;
}

#pp-nav li .pp-tooltip {
  font-family: "Agency FB", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding-right: 1rem;
  margin-top: -1.4px;
}

#pp-nav li .active span {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  width: 36px;
}

#pp-nav li .active ~ .pp-tooltip {
  padding-right: 1.5rem;
}

#pp-nav.right {
  right: 28px;
}

/*-------------------------
         Count up
-------------------------*/
.count-up {
  margin: 4rem 0;
  padding: 32px 16px;
}

.count-number {
  font-size: 1.5rem;
  font-weight: 500;
}

.count-content {
  margin: 10px 0;
}

.count-icon i {
  font-size: 2.5rem;
}

.count-icon img {
  width: 45px;
}

::-webkit-scrollbar-track {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.hero-03 .title-bar {
  display: none;
}

#hero h2 {
  font-size: 2rem;
}

#hero p {
  word-break: normal;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

/*-------------------------
          HERO
-------------------------*/
.hero {
  overflow-x: hidden !important;
}

.hero .personal-item h1 {
  font-size: 2rem !important;
}

.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  right: 0;
}

.hero .hero-content p {
  max-width: 500px;
}

/*-------------------------
          HERO-01
-------------------------*/
.hero-01 .hero-item1 {
  background: url("https://placehold.co/1920x1280") no-repeat center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.9);
          box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.9);
}

.hero-01 .hero-item2 {
  background: url("https://placehold.co/1920x1280") no-repeat center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
}

.hero-01 .hero-item3 {
  background: url("https://placehold.co/1920x1280") no-repeat center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
}

.hero-01 .hero-slide {
  background-size: 100%;
}

.hero-01 #hero-slider {
  opacity: 0.6;
}

.hero-01 .hero-slide.zoom {
  background-size: 200%;
  -webkit-transition: background-size 20s ease;
  transition: background-size 20s ease;
}

.hero-01 .scroll-down span {
  text-align: center;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  left: calc(50% - 8px);
  width: 30px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #3c3c3c;
}

.hero-01 .scroll-down span:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  left: calc(50% - 3px);
  margin-top: 10px;
  border-radius: 5px;
  -webkit-animation: sdb10 2s infinite;
          animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3c3c3c;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*-------------------------
          HERO-02
-------------------------*/
canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1000;
}

.hero-02 .scroll-down {
  text-align: center;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  left: calc(50% - 8px);
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.hero-02 .scroll-down a:before {
  color: #5f5f5f;
  content: "\f103";
  font-family: "FontAwesome", "sans-serif";
  font-size: 20px;
}

/*-------------------------
          HERO-03
-------------------------*/
#hero {
  overflow-x: hidden !important;
}

.hero-03 {
  overflow-x: hidden !important;
}

.hero-03 h2 {
  font-size: 2rem;
}

.hero-03 .hero-image img {
  z-index: 10;
  position: relative;
}

.hero-03 .circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  top: 150px;
  right: 34px;
  overflow: hidden;
  -webkit-animation: circling 18s linear infinite;
          animation: circling 18s linear infinite;
  z-index: 11;
}

@-webkit-keyframes circling {
  0% {
    -webkit-transform: rotate(0deg) translate(-80px) rotate(0deg);
            transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-80px) rotate(-360deg);
            transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
}

@keyframes circling {
  0% {
    -webkit-transform: rotate(0deg) translate(-80px) rotate(0deg);
            transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-80px) rotate(-360deg);
            transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
}

.hero-03 .circle-2 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  top: 250px;
  bottom: 250px;
  left: 80px;
  right: 0;
  overflow: hidden;
  margin: auto;
  -webkit-animation: circlereverse 22s linear infinite;
          animation: circlereverse 22s linear infinite;
  z-index: 11;
}

@-webkit-keyframes circlereverse {
  0% {
    -webkit-transform: rotate(0deg) translate(-275px) rotate(0deg);
            transform: rotate(0deg) translate(-275px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-275px) rotate(360deg);
            transform: rotate(-360deg) translate(-275px) rotate(360deg);
  }
}

@keyframes circlereverse {
  0% {
    -webkit-transform: rotate(0deg) translate(-275px) rotate(0deg);
            transform: rotate(0deg) translate(-275px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-275px) rotate(360deg);
            transform: rotate(-360deg) translate(-275px) rotate(360deg);
  }
}

.hero-03 .floating {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 10px;
  left: 90px;
  z-index: 1;
  -webkit-animation: floating 5s linear infinite;
          animation: floating 5s linear infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.hero-03 .square {
  position: absolute;
  bottom: 25px;
  z-index: 0;
  left: -10px;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*-------------------------
          HERO-04
-------------------------*/
.hero-04 {
  background: url("https://placehold.co/1920x1280") no-repeat;
  background-size: cover;
}

.hero-04 .hero-content p {
  max-width: 450px;
}

/*-------------------------
          HERO-05
-------------------------*/
.hero-05 {
  background: url("https://placehold.co/1920x1280") no-repeat center;
  background-size: cover;
}

.hero-05 .scroll-down span {
  text-align: center;
  position: absolute;
  bottom: 40px;
  z-index: 2;
  left: calc(50% - 8px);
  width: 30px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #212529;
}

.hero-05 .scroll-down span:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  left: calc(50% - 3px);
  margin-top: 10px;
  border-radius: 5px;
  -webkit-animation: sdb10 2s infinite;
          animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #212529;
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
}

/*-------------------------
          HERO-06
-------------------------*/
.hero-06 {
  background: url("https://placehold.co/1920x1280") no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}

.hero-06 .scroll-down span {
  text-align: center;
  position: absolute;
  bottom: 40px;
  z-index: 2;
  left: calc(50% - 8px);
  width: 30px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #fafafa;
}

.hero-06 .scroll-down span:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  left: calc(50% - 3px);
  margin-top: 10px;
  border-radius: 5px;
  -webkit-animation: sdb10 2s infinite;
          animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*-------------------------
         HERO 07
-------------------------*/
.hero-07 {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}

.hero-07 .video-overlay {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
  overflow: hidden;
}

/*-------------------------
         ABOUT
-------------------------*/
.about .personal-info ul li {
  margin-bottom: 1.25rem;
}

.about .personal-info ul li p {
  font-weight: 500;
}

.about .personal-info span {
  font-weight: 300;
  color: #5f5f5f;
}

/*-------------------------
         RESUME
-------------------------*/
.resume .timeline-content .button-border {
  display: table;
  margin: 0 auto;
}

.resume .timeline-content .button-border .button {
  padding: 8px 15px;
  min-width: 150px;
  text-align: center;
}

.badge-pill {
  font-size: 1.15rem;
}

.badge-pill i {
  font-size: 1.15rem;
}

.timeline-items.box-border {
  padding: 30px 30px 15px 30px;
  margin-top: 30px;
}

.timeline-title {
  font-family: "Agency FB Bold";
  font-size: 1.5rem;
  font-weight: 600;
}

.timeline-item {
  position: relative;
  /* margin-bottom: 30px; */
}

.timeline-item:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
  border-radius: 1rem;
  display: block;
}

.timeline-contents {
  padding-left: 30px;
  text-align: justify;
}

.timeline-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -7px;
  z-index: 10;
}

.timeline-items .timeline-icon {
  border: none;
  left: -9px !important;
}

.timeline-items .timeline-border {
  border-left: 2px solid;
}

.rtl .timeline-items .timeline-border {
  border-left: none !important;
  border-right: 2px solid;
}

.rtl .timeline-items .timeline-icon {
  left: inherit !important;
  right: -9px !important;
}

.timeline-item::before {
  display: none;
}

.timeline-year {
  font-size: "Agency FB";
  font-size: 1.25rem;
  font-weight: 500;
}

.resume h3 i {
  padding-right: 0.75rem;
}

/*-------------------------
          FIXED ELEMENTS: LOGO & SOCIAL ICONS
-------------------------*/
header {
  padding: 15px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1030;
  top: 0;
}

.logo {
  color: #5f5f5f;
  font-weight: 800;
  font-size: 22px;
  margin-left: 14px;
}

.logo:hover {
  color: #5f5f5f;
}

.social-box {
  position: absolute;
  left: 1.2rem;
  bottom: 0;
  width: 1.5rem;
  z-index: 100;
}

.follow-label-wrapper {
  padding-right: 5rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #3c3c3c;
  line-height: 1.5rem !important;
  height: 1.5rem;
  white-space: nowrap;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  text-align: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.3rem;
  -webkit-animation-name: slide_to_right;
          animation-name: slide_to_right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.follow-label .scalable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes slide_to_right {
  from {
    right: 40px;
  }
  to {
    right: 0;
  }
}

@keyframes slide_to_right {
  from {
    right: 40px;
  }
  to {
    right: 0;
  }
}

.follow-label .line {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  -webkit-animation-name: stretch;
          animation-name: stretch;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes stretch {
  from {
    right: 60px;
    width: 0;
  }
  to {
    right: 0;
    width: 60px;
  }
}

@keyframes stretch {
  from {
    right: 60px;
    width: 0;
  }
  to {
    right: 0;
    width: 60px;
  }
}

.social i {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem !important;
}

.social a {
  color: #3c3c3c;
}

.social-icon a {
  background-color: #f1f3f6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 38px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
  border-radius: 4px;
  text-align: center;
  color: #5f5f5f;
}

.social-icon a:hover {
  -webkit-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
          box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}

.social-icon .list-inline-item:not(:last-child) {
  margin-right: 12px;
}

/*-------------------------
          SKILLSET
-------------------------*/
.title {
  font-family: "Agency FB Bold";
  font-size: 1.75rem;
  font-weight: 600;
}

/* skill-boxes */
.skillset .row {
  margin-top: 4px;
  margin-left: -5px;
  margin-right: -5px;
}

.equal-columns > .box-border {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

.equal-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 140px;
}

.skill-boxes .image-border {
  padding: 2px !important;
}

.skillset h5 {
  margin-bottom: 0;
}

.skillset .border-style {
  margin-top: 10px;
}

.badge i {
  position: relative;
  bottom: 0.05rem;
}

.skill-boxes p {
  font-size: 1.15rem !important;
}

.badge-border {
  display: inline-block;
  padding: 2px;
  margin: 0 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.badge {
  display: inline-block;
}

.badge.badge-pill {
  font-weight: 300 !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: table;
  margin: 0 auto;
  /* vertical center */
  vertical-align: middle;
  line-height: normal;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

.title-content .badge.badge-pill {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.title-content .badge-border {
  display: inline-block;
  padding-top: 0;
}

.badge-pill > .badge {
  font-size: 75%;
  padding: 0.15rem 0.3rem !important;
  margin: 0 !important;
  position: relative;
  bottom: 0.11rem;
}

/*-------------------------
         DUTIES
-------------------------*/
.duties .image-border {
  height: 90%;
}

.duties .duties-item {
  height: 100%;
}

.duties .title {
  margin-bottom: 0.5rem;
}

.duties-item img {
  width: 40px;
  height: 40px;
}

.duties .duties-item.data-background {
  margin-top: 0;
}

.duties .image-border {
  margin-top: 30px;
}

.duties .image-border {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.duties .image-border:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.duties-item h5 {
  margin-top: 8px;
}

/*-------------------------
         PORTFOLIO
-------------------------*/
.injected-section {
  zoom: 0.4;
  -moz-transform: scale(0.4);
  max-height: 800px;
  overflow: hidden !important;
}

.radio-button-group > li > a > i {
  position: relative;
  bottom: 1.5px;
  margin-right: 0.15rem;
}

.highlight-portfolio-item {
  position: absolute;
  top: 6px;
  right: 6px;
}

.btn-filter {
  font-size: 1.05rem !important;
}

.btn-group {
  margin-bottom: 10px;
}

.btn.checked {
  background-color: #403d37;
}

.portfolio .radio-button-group .list-inline-item:not(:last-child) {
  margin-bottom: 0.7rem;
}

.project-label {
  font-family: "Agency FB Bold", sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
  color: #fafafa;
}

.portfolio .radio-button-group li a {
  padding: 5px 13.43px;
}

.portfolio .portfolio-item {
  margin-top: 30px;
}

.portfolio-item-content {
  position: relative;
}

.portfolio-item-content img {
  height: 100%;
}

.portfolio-item-content .video-container {
  overflow: hidden;
}

.portfolio-item-content .video-container video {
  height: 100%;
}

.portfolio-item-content::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 5px;
  bottom: 3px;
  left: 5px;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 99;
}

.portfolio-item-content:hover .img-overlay-content {
  opacity: 1;
}

.portfolio-item-content:hover::before {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

.img-overlay-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 100;
}

.img-overlay-content h6 {
  color: #fafafa;
}

.portfolio-icon a {
  width: 35px;
  height: 35px;
  line-height: 37px;
  margin: 0 8px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 37px;
}

.portfolio-icon a i {
  font-size: 16px;
  font-weight: 600;
  margin: auto;
  text-align: center;
  position: relative;
  top: calc(50% - 0.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visible_item {
  display: none;
}

.portfolio-page .visible_item {
  display: block;
}

/*-------------------------
      SINGLE Portfolio
-------------------------*/
.close {
  font-size: 2.5rem !important;
}

.portfolio-single .close {
  color: #5f5f5f;
  text-shadow: none;
}

.portfolio-single img {
  width: 100%;
}

:root {
  --primary-light: #8abdff;
  --primary: #1b63ad;
  --primary-dark: #0d4680;
  --white: #ffffff;
  --greyLight-1: #f1f3f6;
  --greyLight-2: #c1c9df;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/*  SEGMENTED-CONTROL */
.segmented-control {
  margin: 0.7rem 0.4rem 0 0.4rem;
  height: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.segmented-control input {
  display: none;
}

.segmented-control > input:checked + label {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.segmented-control label {
  z-index: 99;
}

.segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4 {
  color: #444444;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 6.8rem;
  height: 3.6rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.segmented-control-size__color, .segmented-control-platform__color, .segmented-control-stage__color {
  position: absolute;
  height: 1.9175rem;
  width: 72.5px;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .segmented-control {
    max-width: 470px;
  }
  .segmented-control__color {
    width: 110px;
  }
  #size-1:checked ~ .segmented-control-size__color,
  #platform-1:checked ~ .segmented-control-platform__color,
  #stage-1:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-165px);
            transform: translateX(-165px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-2:checked ~ .segmented-control-size__color,
  #platform-2:checked ~ .segmented-control-platform__color,
  #stage-2:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-3:checked ~ .segmented-control-size__color,
  #platform-3:checked ~ .segmented-control-platform__color,
  #stage-3:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-4:checked ~ .segmented-control-size__color,
  #platform-4:checked ~ .segmented-control-platform__color,
  #stage-4:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(165px);
            transform: translateX(165px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@media screen and (min-width: 992px) {
  .segmented-control {
    max-width: 250px;
  }
  .segmented-control__color {
    width: 55px;
  }
  #size-1:checked ~ .segmented-control-size__color,
  #platform-1:checked ~ .segmented-control-platform__color,
  #stage-1:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-82.5px);
            transform: translateX(-82.5px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-2:checked ~ .segmented-control-size__color,
  #platform-2:checked ~ .segmented-control-platform__color,
  #stage-2:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-27.5px);
            transform: translateX(-27.5px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-3:checked ~ .segmented-control-size__color,
  #platform-3:checked ~ .segmented-control-platform__color,
  #stage-3:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(27.5px);
            transform: translateX(27.5px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-4:checked ~ .segmented-control-size__color,
  #platform-4:checked ~ .segmented-control-platform__color,
  #stage-4:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(82.5px);
            transform: translateX(82.5px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@media screen and (min-width: 1200px) {
  .segmented-control {
    max-width: 320px;
  }
  .segmented-control__color {
    width: 72.5px;
  }
  #size-1:checked ~ .segmented-control-size__color,
  #platform-1:checked ~ .segmented-control-platform__color,
  #stage-1:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-108.75px);
            transform: translateX(-108.75px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-2:checked ~ .segmented-control-size__color,
  #platform-2:checked ~ .segmented-control-platform__color,
  #stage-2:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(-36.25px);
            transform: translateX(-36.25px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-3:checked ~ .segmented-control-size__color,
  #platform-3:checked ~ .segmented-control-platform__color,
  #stage-3:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(36.25px);
            transform: translateX(36.25px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #size-4:checked ~ .segmented-control-size__color,
  #platform-4:checked ~ .segmented-control-platform__color,
  #stage-4:checked ~ .segmented-control-stage__color {
    -webkit-transform: translateX(108.75px);
            transform: translateX(108.75px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

/* INDICATOR */
.cssload-container {
  position: absolute;
  top: 50%;
  right: 50%;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-left-color: black;
  border-radius: 974px;
  -o-border-radius: 974px;
  -ms-border-radius: 974px;
  -webkit-border-radius: 974px;
  -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.book-item {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.book-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.book-item {
  margin: 30px 15px 10px 15px;
  width: 180px;
  height: 258px;
}

.book-item > img {
  width: 165px !important;
  height: 215px !important;
}

.course-item {
  margin: 30px 15px 10px 15px;
  width: 232px;
  height: auto;
}

.course-item img {
  width: 220px !important;
  height: 135px !important;
}

.skill-box {
  padding: 30px;
  margin-top: 5px;
  padding-left: 3 !important;
  padding-right: 3 !important;
}

.skill-box .skillbar {
  position: relative;
  display: block;
  width: 100%;
  height: 12px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.skill-box .skillbar:not(:last-child) {
  margin-bottom: 43px;
}

.skill-box .fill-skillbar {
  height: 7px;
  width: 0;
  float: left;
  margin: 0;
  position: absolute;
  top: 53%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 4px;
}

.skill-box .skill-bar-percent {
  position: absolute;
  font-weight: 500;
  bottom: 16px;
  right: 0;
}

.skill-box .skillbar-title {
  position: absolute;
  top: -28px;
  left: -17px;
  font-weight: 600;
  font-size: 1.25rem;
}

.skill-box .skillbar-title span {
  margin-left: 18px;
}

.flat-style .selfEducation .image-border {
  padding: 0.4rem;
}

/*-------------------------
     OVERLAY MENU
-------------------------*/
.overlay-menu {
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1032;
  opacity: 0;
  visibility: hidden;
}

.overlay-menu-toggler {
  font-size: 2rem;
}

.overlay-menu .overlay-menu-list {
  width: 100%;
}

.overlay-menu .overlay-menu-list .overlay-nav > ul {
  width: 50%;
  float: left;
}

.overlay-menu .list-inline.socials li {
  zoom: 1 !important;
}

/* .overlay-menu .overlay-menu-list .sub-menu {
  height: 176px;v
  overflow-y: scroll;
} */
.overlay-menu .overlay-menu-list .overlay-nav a,
.overlay-menu .overlay-menu-list .overlay-nav span,
.overlay-menu .overlay-menu-list .overlay-nav p {
  color: #fafafa;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0.75rem;
  display: inline-block;
  font-family: "Agency FB", sans-serif;
  font-weight: 500;
}

.overlay-menu
.overlay-menu-list
.overlay-nav
.contact-info
li:first-child
span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.overlay-menu .overlay-menu-list .overlay-nav .contact-info li span i {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.overlay-menu .overlay-menu-list .overlay-nav .contact-info .socials li i {
  font-size: 22px;
  font-weight: 400;
}

.overlay-menu .overlay-menu-list .list-group-item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent !important;
  text-transform: uppercase;
  text-align: center;
}

.overlay-menu.show {
  opacity: 1;
  visibility: visible;
  cursor: url(/assets/img/cursor-white.png), auto;
}

.pilling-page .overlay-menu .overlay-menu-list .list-group-item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent !important;
  text-transform: uppercase;
}

.overlay-menu-toggler {
  position: absolute;
  top: 5px;
  padding: 10px;
  right: 24px;
  z-index: 1029;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

.overlay-menu-toggler.move {
  opacity: 0;
}

/*-------------------------
        PRELOADER
-------------------------*/
#overlayer {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 99999;
  border: 4px solid white;
  border-radius: 50%;
  border-top: 4px solid;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*-------------------------
       TESTIMONIAL
-------------------------*/
.testimonial .owl-carousel .testimonial-item {
  padding: 0 30px 30px;
  max-width: 750px;
  margin: 0 auto;
}

.testimonial .owl-carousel .testimonial-item img {
  width: 85px;
  display: inline-block;
  border-radius: 50%;
}

.testimonial .owl-carousel .testimonial-item:hover .testimonial-border {
  width: 90px;
}

.testimonial .owl-carousel .owl-stage-outer {
  padding: 1rem 0;
}

.testimonial .owl-carousel .testimonial-image {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  margin-top: -60px;
  background-color: #f1f3f6;
  width: 115px;
  height: 115px;
}

.testimonial .owl-carousel .testimonial-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 92%;
  height: 40%;
  background-color: #f1f3f6;
  z-index: 1;
  right: 6px;
}

.testimonial .owl-carousel .testimonial-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
          box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
  border-radius: 50%;
  z-index: 0;
  left: 2px;
}

.testimonial .owl-carousel .testimonial-image .img-thumbnail {
  background-color: transparent;
}

.testimonial .owl-carousel .testimonial-image-border {
  -webkit-box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
          box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.testimonial .owl-carousel .owl-item {
  padding-top: 2rem;
}

.testimonial .owl-carousel .owl-dots {
  text-align: center;
  margin-top: 1rem;
}

.testimonial .owl-carousel .owl-dot span {
  display: block;
  width: 24px;
  height: 5px;
  margin: 0 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonial .owl-carousel .owl-dot.active span {
  width: 2rem;
}

/*-------------------------
          BLOG
-------------------------*/
.blog-label {
  font-family: "Agency FB Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.blog .blog-item {
  padding: 30px;
  margin: 60px 0 30px;
}

.blog .blog-item .before {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  width: auto;
  height: 57px;
  background-color: #f1f3f6;
  z-index: 1;
  right: 45px;
}

.blog .blog-content .list-inline-item:not(:last-child) {
  margin-right: 3rem;
}

.blog .blog-image {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-top: -88px;
  background-color: #f1f3f6;
}

.blog .blog-image .after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.blog .blog-intro {
  padding: 5px;
  position: relative;
  z-index: 2;
  display: block;
}

.blog .blog-intro img {
  display: inline-block;
  width: 100%;
}

/*-------------------------
       BLOG SIDEBAR
-------------------------*/
.post-sidebar {
  position: fixed;
  display: block;
  width: 310px;
  right: -320px;
  padding: 0;
  top: 0;
  height: 100%;
  float: none;
  z-index: 1031;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.66s ease-in-out;
  transition: all 0.66s ease-in-out;
}

.post-sidebar.open {
  right: 0;
}

.post-sidebar-content {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: #f1f3f6;
  z-index: 1;
}

.post-sidebar-toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 46px;
  text-align: center;
  background-color: #f1f3f6;
  right: 85px;
  font-size: 19px;
  top: 88px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.post-sidebar-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 44%;
  background: #000;
  opacity: 1;
  left: 13px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.post-sidebar-toggle span:nth-child(1) {
  top: 12px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.post-sidebar-toggle span:nth-child(2) {
  top: 19px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.post-sidebar-toggle span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.post-sidebar-toggle span:before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: -4px;
}

.post-sidebar-toggle.open span {
  left: 14px;
}

.post-sidebar-toggle.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
}

.post-sidebar-toggle.open span:before {
  left: -2px;
}

.post-sidebar-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.post-sidebar-toggle.open span:before {
  left: -2px;
}

.post-sidebar-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
}

.post-sidebar-toggle.open span:before {
  left: -2px;
}

.aside-contents {
  margin: 0 15px 15px;
  background-color: #f1f3f6;
  padding: 15px;
}

.search {
  padding: 15px;
}

.search .form-group {
  background-color: #f1f3f6;
  margin: 0;
}

.search .form-group input {
  border: none !important;
  background-color: transparent;
  padding: 13px 16px 11px;
  font-size: 14px;
  outline: none !important;
  width: 88%;
}

.search .form-group button {
  position: absolute;
  right: 6px;
  top: 3px;
}

.aside-title {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.aside-title span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-weight: 600;
}

.aside-title:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 62%;
  position: absolute;
  background-color: #ddd;
}

.aside-item ul li {
  position: relative;
}

.aside-item ul li a {
  font-size: 14px;
  color: #444;
  padding: 4px 0px;
  display: inline-block;
  padding-left: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aside-item ul li a:hover {
  padding-left: 17px;
}

.aside-item ul li:last-child a {
  padding-bottom: 0;
}

.aside-item ul li i {
  font-size: 8px;
  position: absolute;
  top: 10px;
  width: 12px;
  display: inline-block;
}

/* flat */
.flat-style .post-sidebar-toggle,
.flat-style .search .form-group,
.flat-style .aside-contents {
  background-color: #fefefe;
}

.flat-style .post-sidebar-content {
  background-color: #f8f8f8 !important;
}

.flat-style .comments-devider {
  height: 1px;
}

/* media */
@media (max-width: 1199px) {
  .post-sidebar-toggle {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .post-sidebar-toggle.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .post-sidebar-toggle.open span {
    display: none;
  }
  .blog-single .post-sidebar-toggle {
    right: 77px;
  }
}

/*-------------------------
        SINGLE BLOG
-------------------------*/
.modal-dialog {
  max-width: 75%;
}

.blog-single .modal-content {
  background-color: #f1f3f6;
}

.breadcrumb {
  padding: 15px 15px;
}

.breadcrumb li a {
  color: #222;
  font-weight: 600;
}

.blog-single .close {
  color: #5f5f5f;
  text-shadow: none;
}

.blog-single img {
  width: 100%;
}

.comments img {
  width: 80px;
}

.comments .comment-info {
  margin-left: 100px;
}

.blog-single .entry-meta li:not(:last-child) {
  margin-right: 0.75rem;
}

.blog-single .entry-meta li a {
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  top: 0;
}

.blog-single .entry-meta li a i {
  color: #666;
  font-size: 13px;
  padding-right: 5px;
}

.blog-single .entry-meta li a:hover {
  top: -3px;
  padding-bottom: 3px;
}

.comment-author {
  margin-left: 80px;
  position: relative;
  padding-top: 7px;
}

.comment-author span {
  font-weight: 600;
}

.comment-date {
  font-size: 13px;
  padding-top: 10px;
  font-weight: 400;
}

.comment-reply-link {
  position: absolute;
  top: 7px;
  right: 0;
  color: #444;
  font-size: 14px;
}

.comment-text {
  clear: both;
  padding-top: 5px;
  font-size: 15px;
  margin-left: 80px;
}

.comments-devider {
  background-color: #f1f3f6;
  height: 10px;
  width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}

.comments .commnet-image-border img {
  width: 65px;
  height: 65px;
}

.reply-comment {
  margin-left: 3rem;
}

.blog-single.b-z-index {
  z-index: inherit !important;
}

@media (min-width: 992px) {
  .blog-single .post-sidebar {
    position: unset;
    width: 25%;
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    z-index: 0;
    padding: 0 15px;
  }
  .blog-single .post-sidebar-content {
    position: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    overflow: visible;
    padding-top: 0;
  }
  .blog-single .post-sidebar-toggle {
    display: none;
  }
  .blog-single .search {
    padding: 0 0 15px;
  }
  .blog-single .aside-contents {
    margin: 0 0 15px;
  }
  .flat-style .blog-single .post-sidebar-content {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .flat-style .search .form-group,
  .flat-style .aside-contents {
    background-color: #fefefe;
  }
}

@media (max-width: 575px) {
  .reply-comment {
    margin-left: 1rem;
  }
}

/*-------------------------
          CONTACT
-------------------------*/
.contact-form textarea {
  min-height: 175px;
  resize: none;
}

.contact #message.toast {
  max-width: 500px;
  padding: 2px 0 1px;
  position: absolute;
  top: -2px;
  display: inline-block;
  left: 200px;
  color: #9f0e0e;
}

.contact .toast button span {
  position: relative;
  top: 8px;
}

.contact .contact-info ul li {
  margin-top: 1.5rem;
}

.contact .contact-info i {
  margin-right: 0.5rem;
}

.contact .contact-info img {
  width: 50px;
  height: 50px;
}

.contact .copy-right {
  position: relative;
  top: 5rem;
}

/*-------------------------
      404 Page
-------------------------*/
.error-404 ~ .contact {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 991px) {
  .hero.error-404 .hero-content {
    position: inherit;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .error-404 ~ .contact {
    position: inherit;
  }
}

/*-------------------------
           MEDIA
-------------------------*/
@media (max-width: 1199px) {
  .section {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .hero-01 .hero-slide {
    background-size: auto 100%;
  }
  .hero-01 .hero-slide.zoom {
    background-size: auto 200%;
  }
  .about .personal-info span {
    display: block;
  }
  .blog-content .list-inline-item {
    margin-right: 0;
  }
  .blog-image::before {
    height: 24%;
  }
  .modal-dialog {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .button-group-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  header {
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 1px 3px 0 #eee;
            box-shadow: 0 1px 3px 0 #eee;
  }
  .overlay-menu-toggler,
  .logo {
    color: #3c3c3c !important;
  }
  .hero-03 {
    text-align: center;
    overflow-x: hidden;
  }
  .hero-03 p {
    margin: auto;
  }
  .hero-03 .hero-content {
    text-align: center;
    margin-top: 32px;
  }
  .title-content h2 {
    font-size: 40px;
  }
  .title-content {
    top: -58px;
  }
  .contact-info-text {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .overlay-menu-toggler {
    right: 0.5rem;
  }
  .overlay-menu .overlay-menu-list .overlay-nav a,
  .overlay-menu .overlay-menu-list .overlay-nav span,
  .overlay-menu .overlay-menu-list .overlay-nav p {
    font-size: 16px;
    padding: 0.5rem;
  }
  #pp-nav,
  .social-box {
    display: none;
  }
  .section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
  }
  .social-box {
    display: none;
  }
  .post-sidebar-toggle {
    right: 68px;
  }
}

@media (max-width: 575px) {
  .testimonial .display-table,
  .testimonial .display-content {
    display: block;
  }
  .overlay-nav a,
  .overlay-nav span,
  .overlay-nav p {
    padding: 0.5rem;
    letter-spacing: 1px;
  }
  .overlay-menu .overlay-menu-list .overlay-nav > ul {
    width: 100%;
    float: none;
    margin-bottom: 2rem;
  }
  .hero-01 .scroll-down span,
  .hero-02 .scroll-down {
    bottom: 64px;
  }
  .title-wrapper {
    font-size: 48px;
  }
  .title-content {
    top: -44px;
  }
  .title-content h2 {
    font-size: 32px;
  }
  /* .display-table, .display-content {
    display: block;
  } */
  .testimonial .testimonial-item {
    padding: 15px;
  }
  #message.toast {
    top: 18px;
    left: inherit;
    font-size: 12px;
    padding: 3px 0;
  }
}

@media (max-width: 380px) {
  #message.toast {
    top: 60px;
    left: 15px;
  }
}

.press-start.\32p-font .pp-tooltip {
  right: 37px;
  top: 3px;
  font-size: 1rem !important;
}

.press-start.\32p-font .follow-label .scalable {
  padding-top: 3px;
}
/*# sourceMappingURL=style.css.map */