/*-------------------------
          CONTACT
-------------------------*/
.contact .form-item .form-control {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        height: 44px;
        font-size: 20px;
        position: relative;
        transition: border 0.9s ease;
        padding: 1rem;
        border: none;
}

.contact-form textarea {
        min-height: 175px;
        resize: none;
}

.contact #message.toast {
        max-width: 500px;
        padding: 2px 0 1px;
        position: absolute;
        top: -2px;
        display: inline-block;
        left: 200px;
        color: #9f0e0e;
}

.contact .toast button span {
        position: relative;
        top: 8px;
}

.contact .contact-info ul li {
        margin-top: 1.5rem;
}

.contact .contact-info i {
        margin-right: 0.5rem;
}

.contact .contact-info img {
        width: 50px;
        height: 50px;
}

.contact .copy-right {
        position: relative;
        top: 5rem;
}