/*-------------------------
         DUTIES
-------------------------*/
.duties .duties-item {
        // margin-top: 30px;
}

.duties-item img {
        width: 40px;
}

.duties-item {
        // box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}

.duties .duties-item.data-background {
        margin-top: 0;
}

.duties .image-border {
        margin-top: 30px;
}

.duties .image-border {
        transition: 0.5s all ease;
}

.duties .image-border .box-hover-border {
        border-radius: 1.25rem;
}

.flat-demo .duties .image-border .box-hover-border {
        border-radius: 1.25rem;
}

.duties .image-border:hover {
        transform: translateY(-10px);
}

.duties-item h5 {
        margin-top: 8px;
}