/*-------------------------
          SKILLSET
-------------------------*/
/* skill-boxes */
$badge-radius:0.6rem;

.equal-columns>.box-border {
        flex-grow: 1 !important;
}

.equal-columns {
        display: flex;
        flex-flow: column;
        min-height: 140px;
}

.skill-item {
        border-radius: $badge-radius !important;
}

.skill-boxes .image-border {
        border-radius: $badge-radius !important;
        padding: 2px !important;
}

.skillset h5 {
        margin-bottom: 0;
}

.skillset .border-style {
        margin-top: 10px;
}

// BADGE
.badge i {
        position: relative;
        bottom: 0.05rem;
}


.skill-boxes p {
        font-size: 1.15rem !important;
}

.badge-border {
        border-radius: $badge-radius !important;
        display: inline-block;
        padding: 2px;
        margin: 0 4px 10px;
}

.badge {
        display: inline-block;
}

.badge.badge-pill {
        /* vertical center */
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        font-weight: 300 !important;
        color: white;
        margin: 2px;
        border-radius: 0.5rem !important;
}

.badge>.badge {
        font-size: 75% !important;
        padding: 0.15rem 0.3rem !important;
        margin: 0 !important;
        position: relative;
        bottom: 0.09rem;
}