/*-------------------------
          SKILLSET
-------------------------*/
/* skill-boxes */
$badge-radius:0.6rem;

.skillset .row {
        margin-top: 4px;
        margin-left: -5px;
        margin-right: -5px;
}

.equal-columns>.box-border {
        flex-grow: 1 !important;
}

.equal-columns {
        display: flex;
        flex-flow: column;
        min-height: 140px;
}

.skill-item {
        border-radius: $badge-radius;
}

.skill-boxes .image-border {
        border-radius: $badge-radius;
        padding: 2px !important;
}

.skillset h5 {
        margin-bottom: 0;
}

.skillset .border-style {
        margin-top: 10px;
}

// BADGE
.badge i {
        position: relative;
        bottom: 0.05rem;
}


.skill-boxes p {
        font-size: 1.15rem !important;
}

.badge-border {
        border-radius: $badge-radius;
        display: inline-block;
        padding: 2px;
        margin: 0 5px 10px;
        display: flex;
        flex-grow: 1;
}

.badge {
        display: inline-block;
}

.badge.badge-pill {
        font-weight: 300 !important;
        color: white;
        border-radius: 0.5rem;

        flex-grow: 1;
        display: table;
        margin: 0 auto;

        /* vertical center */
        vertical-align: middle;
        line-height: normal;
        padding-top: 0.4rem;
        padding-bottom: 0.3rem;
}

.title-content .badge.badge-pill {
        display: inline-block;
        flex-grow: 0;
}

.title-content .badge-border {
        display: inline-block;
}

.badge-pill>.badge {
        font-size: 75% !important;
        padding: 0.15rem 0.3rem !important;
        margin: 0 !important;
        position: relative;
        bottom: 0.11rem;
}