/*-------------------------
      FLAT STYLE LIGHT
-------------------------*/
.flat-demo .section {
        background-color: #f8f8f8 !important;
}

.flat-demo .blog-single .modal-content,
.flat-demo .portfolio-single .modal-content {
        background-color: #f8f8f8;
}

.flat-demo .testimonial-image-border {
        background-color: #f8f8f8;
}

.flat-demo .testimonial-image-border img {
        padding: 4px;
        background-color: transparent;
        border: 1px solid #e3e5d2;
        max-width: 100%;
        height: auto;
}

.flat-demo .skill-box .skillbar {
        background-color: #e1e1e1;
}

.flat-demo .menu li a {
        box-shadow: none;
}

.flat-demo .menu li a:hover,
.flat-demo .menu li a.active {
        box-shadow: none;
}

.flat-demo .button-border {
        box-shadow: none;
        padding: 0;
}

.flat-demo .pill-button:hover,
.flat-demo .pill-button.active,
.flat-demo .testimonial .owl-dot.active span,
.flat-demo .skill-box .skillbar,
.flat-demo .blog-intro,
.flat-demo .contact .form-item .form-group,
.flat-demo .testimonial .owl-carousel .testimonial-image-border {
        box-shadow: none;
}

.flat-demo .pill-button,
.flat-demo .portfolio-filter .pill-button.active,
.flat-demo .portfolio-filter .pill-button:hover {
        color: #fafafa;
}

.flat-demo .image-border {
        box-shadow: none;
        background-color: transparent;
        padding: 0;
}

.flat-demo .box-border,
.flat-demo .box-hover-border,
.flat-demo .contact .form-item .form-group {
        background-color: rgba(240, 240, 240, 0.7);
        box-shadow: none;
}

.flat-demo .testimonial .owl-carousel .testimonial-image::after,
.flat-demo .testimonial .owl-carousel .testimonial-image::before,
.flat-demo .blog-item::before,
.flat-demo .blog-image::after {
        display: none;
}

.flat-demo .testimonial .owl-carousel .testimonial-image,
.flat-demo .portfolio-filter .button-border {
        background-color: transparent;
}

.flat-demo .portfolio-filter .pill-button {
        color: #3c3c3c;
}

.flat-demo .blog-image {
        background-color: #f8f8f8;
        padding: 0;
}

/*-------------------------
      FLAT STYLE DARK
-------------------------*/
.dark-scheme.flat-demo .section {
        background-color: #2c2d30 !important;
}

.dark-scheme.flat-demo .box-hover-border:hover {
        box-shadow: none;
}

.dark-scheme.flat-demo .testimonial-image-border,
.dark-scheme.flat-demo .blog-image,
.dark-scheme.flat-demo .blog-single .modal-content,
.dark-scheme.flat-demo .portfolio-single .modal-content {
        background-color: #2c2d30;
}

.dark-scheme.flat-demo .testimonial-image-border img {
        border: 1px solid #3c3c3c;
}

.dark-scheme.flat-demo .box-border,
.dark-scheme.flat-demo .box-hover-border,
.dark-scheme.flat-demo .contact .form-item .form-group {
        background-color: rgba(52, 53, 57, 0.9);
}

.dark-scheme.flat-demo .box-hover-border:hover {
        box-shadow: none;
}

.dark-scheme.flat-demo .portfolio-filter .pill-button {
        color: #fafafa;
}