/*-------------------------
         PORTFOLIO
-------------------------*/
.portfolio-filter>li>a>i {
        padding-top: 10px;
}

.highlight-portfolio-item {
        position: absolute;
        top: 6px;
        right: 6px;
        color: rgba(250, 250, 93, 0.815) !important;
}

.btn-filter {
        font-size: 1.05rem !important;
}

.btn-group {
        margin-bottom: 10px;
}

.btn.checked {
        background-color: #403d37;
}

.portfolio .portfolio-filter .list-inline-item:not(:last-child) {
        margin-bottom: 0.7rem;
}

.portfolio .portfolio-filter li a {
        padding: 5px 15px;
}

.book-item {
        margin: 30px 15px 10px 15px;
        width: 180px;
        height: 248px;
}

.book-item>img {
        width: 165px !important;
        height: 215px !important;
        border-radius: 1rem !important;
}

.course-item {
        margin: 30px 15px 10px 15px;
        width: 232px;
        height: auto;
}

.course-item img {
        width: 220px !important;
        height: 135px !important;
        border-radius: 1rem !important;
}

.portfolio .portfolio-item {
        margin-top: 30px;
}

.portfolio-item-content {
        position: relative;
        border-radius: 1.25rem;
}

.portfolio-item-content::before {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        opacity: 0;
        transform: scale(0.8);
        transition: 0.5s all ease;
        border-radius: 1.25rem;
}

.portfolio-item-content:hover .img-overlay-content {
        opacity: 1;
}

.portfolio-item-content:hover::before {
        transform: scale(1);
        opacity: 1;
}

.img-overlay-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
        transition: all 0.5s ease;
}

.img-overlay-content h6 {
        color: #fafafa;
}

.portfolio-icon a {
        background-color: white;
        width: 35px;
        height: 35px;
        line-height: 37px;
        margin: 0 8px;
        display: inline-block;
        border-radius: 4px;
        transition: all 0.3s ease;
        line-height: 37px;
}

.portfolio-icon a i {
        font-size: 18px;
        font-weight: 700;
        position: relative;
        top: calc(50% - 10px);
        /* 50% - 3/4 of icon height */
}

.portfolio-icon a:first-child {
        background-color: white;
        width: 35px;
        height: 35px;
        line-height: 37px;
        margin: 0 8px;
        display: inline-block;
        border-radius: 4px;
        transition: all 0.3s ease;
        line-height: 37px;
        border-color: transparent;
}

.portfolio-icon a:first-child i {
        font-size: 18px;
        font-weight: 700;
        position: relative;
        left: -2px;
}

.portfolio-icon a:first-child:focus {
        outline: none !important;
}

.visible_item {
        display: none;
}

.portfolio-page .visible_item {
        display: block;
}

/*-------------------------
      SINGLE Portfolio
-------------------------*/
.close {
        font-size: 2.5rem !important;
}

.portfolio-single .modal-content {
        background-color: #f1f3f6;
}

.portfolio-single .close {
        color: #5f5f5f;
        text-shadow: none;
}

.portfolio-single img {
        border-radius: 1rem;
        width: 100%;
}









:root {
        --primary-light: #8abdff;
        --primary: #6d5dfc;
        --primary-dark: #5b0eeb;

        --white: #FFFFFF;
        --greyLight-1: #E4EBF5;
        //  --greyLight-1: #f1f3f6;
        --greyLight-2: #c1c9df;
        --greyLight-3: #bec8e4;
        --greyDark: #9baacf;
}

$shadow: .17rem .17rem .5rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .1rem .1rem .5rem var(--greyLight-2),
inset -.25em -.25rem .5rem var(--white);
$scale:0.65;

/*  SEGMENTED-CONTROL */
.segmented-control {
        background: var(--greyLight-1);
        margin: 0.7rem 0.4rem 0 0.4rem;

        // grid-column: 3 / 4;
        // grid-row: 1 / 2;
        height: 4rem*$scale;
        box-shadow: $shadow;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        position: relative;

        input {
                display: none;
        }

        >input:checked+label {
                transition: all .5s ease;
                font-weight: 900 !important;
                // color: var(--primary);
        }

        &__1,
        &__2,
        &__3,
        &__4 {
                &:hover {
                        font-weight: 900 !important;
                        // color: var(--primary);
                }

                // color: var(--greyDark);
                color: #444444;
                font-size: 1.1rem;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;

                width: 6.8rem;
                height: 3.6rem;
                margin-bottom: 0;
                display: flex;

        }

        // current selection box
        &-size__color,
        &-platform__color,
        &-stage__color {
                position: absolute;
                height: 3.1rem*$scale;
                width: 72.5px;
                border-radius: .4rem;
                box-shadow: $inner-shadow;
                pointer-events: none;
        }
}

// groupLength: total length of each group of button subfilter (excluding padding, margin)
@mixin segmented-control-transform($groupLength) {
        $length: $groupLength/4;

        .segmented-control {
                max-width: $groupLength+30px; // + padding

                &__color {
                        width: $length;
                }
        }

        #size-1:checked~.segmented-control-size__color,
        #platform-1:checked~.segmented-control-platform__color,
        #stage-1:checked~.segmented-control-stage__color {
                transform: translateX(-1.5*$length);
                transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #size-2:checked~.segmented-control-size__color,
        #platform-2:checked~.segmented-control-platform__color,
        #stage-2:checked~.segmented-control-stage__color {
                transform: translateX(-0.5*$length);
                transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #size-3:checked~.segmented-control-size__color,
        #platform-3:checked~.segmented-control-platform__color,
        #stage-3:checked~.segmented-control-stage__color {
                transform: translateX(0.5*$length);
                transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        #size-4:checked~.segmented-control-size__color,
        #platform-4:checked~.segmented-control-platform__color,
        #stage-4:checked~.segmented-control-stage__color {
                transform: translateX(1.5*$length);
                transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
}

// <767px
@media screen and (max-width: 767px) {
        @include segmented-control-transform($groupLength:440px);
}

// 231 (992px)-> 290 (1200px)
@media screen and (min-width: 992px) {
        @include segmented-control-transform($groupLength:220px);
}

// >1200px
@media screen and (min-width: 1200px) {
        @include segmented-control-transform($groupLength: 290px);
}

/*  CHECKBOX  */
$checkbox-scale:0.5;

.checkbox {
        // grid-column: 1 / 2;
        // display: grid;
        // grid-template-columns: repeat(2, 6rem);
        // grid-gap: 3rem;
        // justify-content: center;

        input {
                display: none;
        }

        .name {
                font-size: 1.1rem;
                margin-left: 0.35rem;
                margin-right: 0.8rem;

                margin-bottom: 0rem;
        }

        &__1,
        &__2,
        &__3,
        &__4,
        &__5,
        &__6,
        &__7 {
                // width: 6rem;
                display: flex;
                // justify-content: center;

                label {
                        box-shadow: $shadow;
                        cursor: pointer;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: .5rem;
                        width: 2.8rem*$checkbox-scale;
                        height: 2.8rem*$checkbox-scale;

                        &:hover i {
                                color: var(--primary);
                        }

                        i {
                                font-size: 1.8rem*$checkbox-scale;
                                font-weight: 700;
                                color: var(--greyDark);
                                transition: .3s ease;
                        }
                }

                & input:checked {
                        &~label {
                                box-shadow: $inner-shadow;

                                i {
                                        color: var(--primary);
                                }
                        }
                }
        }
}